@import url('https://fonts.cdnfonts.com/css/winston');
@import url(https://db.onlinewebfonts.com/c/3114dbb517b7c67b80e322545c5f565f?family=Averta+Demo+PE+Regular);
@import url('https://fonts.cdnfonts.com/css/avrile-serif');


:root {
  --black: #1D2023;
  --blue: #4797FF;
  --green: #26D09B;
  --yellow: #FFD747;
  --white: #FFF;

}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: rgb(255, 255, 255);
}

.navbar-street {
  color: var(--black);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
}

.navbar-schedule {
  color: #B0B0B0;
  font-family: 'Winston', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */
}

.contact {
  color: var(--black, #1D2023);
  font-family: "Averta Demo PE Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar-menu {
  margin-bottom: 50px;
}

.navbar-menu .container {
  padding: 14px 34px;
  border-radius: 34px;
  background: #F5F5F9;
  justify-content: space-between;

  /* ds */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

}

.menu-left {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.menu-item {
  color: #B3B3B3;
  font-family: 'Winston', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 5px;
}

.menu-btn {
  padding: 15px 22px;
  border-radius: 24px;
  background: #EF2434;
  align-items: center;
  justify-content: center;
  color: var(--white, #FFF);
  text-align: center;
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sample-slider{
  width: 100%;
}
.sample-slider img{
  width: 100%;
}

.sample-slider .swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 200px);
  left: auto;
}

.sample-slider .swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 200px);
  right: auto;
}

.download {
  margin-top: 10px;
}

.title-h2 {
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.download .title-h2 {
  margin-bottom: 40px;
}

.cst-btn {
  border-radius: 100px;
  border: 2px solid var(--blue, #4797FF);
  background: rgba(71, 151, 255, 0.01);
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cst-btn-svg {
  position: absolute;
  right: 0;
  top: 0;
}

.cst-btn-text {
  margin-right: px;
  margin-left: 20px;
}

.title-h1 {
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ourservice {
  margin-top: 100px;
}

.ourservice .title-h1 {
  margin-bottom: 80px;
}

.service-card {
  border-radius: 34px;
  background: var(--dr, linear-gradient(180deg, #FAFAFA 0%, #E7E8EA 100%));
}

.ourservice-title {
  color: var(--black, #1D2023);
  text-align: center;
  font-family: 'Winston', sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about {
  margin-top: 150px;
}

.about .title {
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 60px */
}

.about .text {
  color: var(--black, #1D2023);
  font-family: 'Avrile Serif', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.left-block-about {
  gap: 40px;
}

.about-card .big-text {
  color: var(--blue, #4797FF);
  font-family: 'Winston', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 36px */
  margin-bottom: 10px;
}

.about-card .big-text span {
  font-size: 50px;
}

.about-card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 34px;
  background: var(--white, #FFF);
  margin-bottom: 20px;
}

.about-card .small-text {
  color: var(--black, #1D2023);
  font-family: "Averta Demo PE Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.team {
  margin-top: 140px;
}

.team .title-h1 {
  margin-bottom: 70px;
}

.team-card {
  border-radius: 34px;
  background: var(--white, #FFF);

  /* ds */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
}

.card-title {
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
}

.card-info {
  color: var(--black, #1D2023);
  font-family: "Averta Demo PE Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.card-info span {
  visibility: hidden;
}

.card-stazh {
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 19.2px */
}

.card-stazh span {
  font-weight: 500;
}

.card-btn {
  border-radius: 24px;
  border: 1px solid var(--blue, #4797FF);
  background: var(--blue, #4797FF);
  color: var(--white, #FFF);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contacts {
  margin-top: 100px;
}

.contacts .row {
  gap: 45px;
}

.contact-card {
  border-radius: 34px;
  background: #97A6BB;
  width: 48%;
}

.contact-card.left {
  padding: 40px 40px 0px 40px;
  background: url("../assets/img/contact1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-card.right {
  background: url("../assets/img/contact2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-title {
  color: #FFF;
  font-family: 'Winston', sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 45.6px */
}

.form-control {
  border-radius: 14px;
  background: var(--white, #FFF);
  color: var(--black, #1D2023);
  font-family: "Averta Demo PE Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-control::placeholder {
  color: #D1D1D1;
}

label {
  color: var(--white, #FFF);
  font-family: "Averta Demo PE Regular";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.submit-btn {
  border-radius: 14px;
  background: var(--yellow, #FFCE22);
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  text-align: center;
  padding: 16px;
}

.sogl {
  color: var(--white, #FFF);
  text-align: center;
  font-family: "Averta Demo PE Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-card.right {
  padding: 70px 44px;
}

.doc-title {
  color: #FFF;
  font-family: 'Winston', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 36px */
}

.doc-btn {
  border-radius: 14px;
  background: #EF2434;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 100px;
  color: var(--white, #FFF);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  margin-top: 56px;
}

.doc-img {
  position: absolute;
  top: -300px;
  right: -450px;
}

.reasons {
  margin-top: 100px;
  border-radius: 34px;
  background: var(--lite-blue, #EFF9FF);
  padding: 40px 25px 20px 25px;
}



.reasons-title {
  color: var(--black, #1D2023);
  text-align: center;
  font-family: 'Winston', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 70px */
  margin-bottom: 50px;
}

.reasons-card {
  padding: 20px;
  border-radius: 14px;
  background: #FFF;
  width: 49%;
}

.reason-title {
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.reason-description {
  color: var(--black, #1D2023);
  font-family: 'Avrile Serif', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
}

.reason-img {
  top: 20px !important;
  right: 20px !important;
}

.video {
  margin-top: 120px;
}

.video-title {
  color: #000;
  text-align: center;
  font-family: 'Winston', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 50px;
}

.video-youtube {
  border-radius: 34px;
}

.sales {
  margin-top: 150px;
}

.sales .title {
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 63px;
  letter-spacing: 0%;
  margin-bottom: 50px;
}

.sales .row {
  gap: 20px;
}

.sales-card {
  padding: 20px;
  border-radius: 24px;
  background: var(--white, #FFF);
  /* ds */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.sales-card-title {
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
}

.sales-card-title span {
  visibility: collapse;
}

.crossed-price {
  color: rgb(166, 166, 166);
  font-family: 'Winston', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-decoration-line: line-through;
}

.big-price {
  color: rgb(239, 36, 52);
  font-family: 'Winston', sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  margin-top: 8px;
}

.date-title {
  color: rgb(209, 209, 209);
  font-family: 'Winston', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
}

.date-time {
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.sep-1 {
  display: none !important;
  visibility: none !important;
}

.date-time.day {
  color: rgb(209, 209, 209);
  font-family: 'Winston', sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  font-size: 10px;
}

.date-time span {
  visibility: none;
}

.date-row {
  justify-content: space-between;
}

.sales-btn-more {
  border-radius: 14px;
  background: rgb(248, 248, 248);
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  padding: 9px 39px;
}

.sales-btn-buy {
  box-sizing: border-box;
  border: 1px solid rgb(245, 37, 54);
  border-radius: 14px;
  background: rgb(239, 36, 52);
  color: rgb(255, 255, 255);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  padding: 9px 39px;
}

.location {
  margin-top: 180px;
  margin-bottom: 120px;
}

.location-card {
  padding: 10px 10px 10px 30px;
  background: var(--lite-blue, #EFF9FF);
}

.location-title {
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
}

.location-subtitle {
  cursor: pointer;
  color: rgb(29, 32, 35);
  font-family: 'Averta Demo PE Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}

.line {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: rgb(71, 151, 255);
  margin-top: 25px;
}

.option-row {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}

.option {
  border-radius: 23px;
  /* blue */
  background: rgb(71, 151, 255);
  padding: 6px 20px 6px 20px;
  color: rgb(255, 255, 255);
  font-family: 'Averta Demo PE Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.second-row {
  gap: 12px;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-contact {
  color: var(--blue);
  font-family: 'Winston', sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px;
}

.footer-description {
  color: rgb(168, 166, 166);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
}

.rating-img {
  margin-top: 30px;
}

.footer-link {
  color: var(--black);
  font-family: 'Winston', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}

.footer-small-link {
  cursor: pointer;
  color: var(--black);
  font-family: 'Averta Demo PE Regular';
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.footer-small-link {
  display: flex;
  cursor: pointer;
  color: var(--black);
  font-family: 'Averta Demo PE Regular';
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  transition: all 0.3s ease; /* Add a smooth transition for a smoother hover effect */
}

.footer-small-link:hover {
  border-radius: 100px;
  background: rgb(71, 151, 255);
  color: #fff;
}

.footer-row {
  gap: 80px;
}

.footer-line {
  width: 100%;
  height: 1px;
  background: var(--black);
  margin-top: 30px;
}

.footer-info {
  color: var(--black);
  font-family: 'Winston', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

@media only screen and (max-width: 767px) {
  .navbar-mobile {
    display: flex !important; 
  }

  .navbar-menu {
    display: none !important;
  }

  .navbar-first {
    display: none !important;
  }

  .sample-slider {
    display:  none !important;
  }

  .mobileSlider {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .mobileSlider .swiper-slide {
    border-radius: 10px;
    background: rgb(217, 217, 217);
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobileSlider-text {
    color: rgb(0, 0, 0);
    font-family: 'Winston', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
  }

  .download-app {
    margin-top: 60px;
    position: relative;
  }

  .download .title-h2 {
    font-size: 22px;
    line-height: 28px;
    width: 60%;
    margin-bottom: 120px;
  }

  .download-img {
    display: block !important;
    position: absolute;
    right: -50px;
    bottom: 30px;
    z-index: -1;
  }

  .download-btn {
    margin-top: 20px;
    width: 100%;
  }

  .cst-btn-svg {
    position: absolute;
    right: 0;
  }

  .cst-btn-text {
    margin-right: 50px;
    margin-left: 45px;
  }

}
