@import url('https://fonts.cdnfonts.com/css/winston');
@import url(https://db.onlinewebfonts.com/c/3114dbb517b7c67b80e322545c5f565f?family=Averta+Demo+PE+Regular);
@import url('https://fonts.cdnfonts.com/css/avrile-serif');


:root {
  --black: #1D2023;
  --blue: #4797FF;
  --green: #26D09B;
  --yellow: #FFD747;
  --white: #FFF;

}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: rgb(255, 255, 255);
}

.navbar-street {
  color: var(--black);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
}

.navbar-schedule {
  color: #B0B0B0;
  font-family: 'Winston', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */
}

.contact {
  color: var(--black, #1D2023);
  font-family: "Averta Demo PE Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar-menu {
  margin-bottom: 50px;
}

.navbar-menu .container {
  padding: 14px 34px;
  border-radius: 34px;
  background: #F5F5F9;
  justify-content: space-between;

  /* ds */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

}

.menu-left {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-right: 10px;
}

.menu-item {
  text-decoration: none;
  color: #B3B3B3;
  font-family: 'Winston', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 5px;
  transition: all 0.3s ease;
}

.menu-item svg {
  transition: all 0.3s ease;
}

.menu-item:hover {
  color: var(--blue);
}

.menu-item.active {
  color: var(--blue);
}

.menu-item:hover svg path {
  fill: var(--blue);
}

.menu-item {
  cursor: pointer;
}

.input-container {
  display: none;
  
}

.white-input {
  width: 180px;
  padding: 13px;
  border-radius: 24px;
  margin-right: 5px;
  font-family: 'Winston', sans-serif;
}


.menu-btn {
  padding: 15px 22px;
  border-radius: 24px;
  background: #EF2434;
  align-items: center;
  justify-content: center;
  color: var(--white, #FFF) !important;
  text-align: center;
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: background-color 0.3s ease;
}

.menu-btn:hover {
  background: #b5000f;
}

.sample-slider{
  width: 100%;
}
.sample-slider img{
  width: 100%;
}

.sample-slider .swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 160px);
  left: auto;
}

.sample-slider .swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 160px);
  right: auto;
}

.download {
  margin-top: 10px;
}

.title-h2 {
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.download .title-h2 {
  margin-bottom: 40px;
}

.banner {
  background-color: #97a6bb;
  height: 540px;
  border-radius: 34px;
  padding: 40px 80px;
}

.banner-title {
  font-size: 60px;
  font-family: 'Winston', sans-serif;
  line-height: normal;
  color: #fff;
}

.banner-line {
  height: 4px;
  width: 30%;
  background: #957605;
}

.banner-subtitle {
  font-size: 30px;
  font-family: 'Winston', sans-serif;
  line-height: normal;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.banner-subtitle span {
  font-size: 28px;
  text-transform: lowercase;
  letter-spacing: 2px;
}

.banner-btn {
  border-radius: 10px;
  background: #a28002;
  color: #fff !important;
  font-size: 22px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.banner-btn:hover {
  background: #957605;
}


.banner-img {
  height: 90%;
  width: fit-content !important;
}

.swiper-button-prev {
  background-image: url("../assets/img/prevarrow.png");
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-button-next {
  background-image: url("../assets/img/nextarrow.png");
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat
}

.swiper-button-next::after, .swiper-button-prev::after {
  content: "";
}

.cst-btn {
  border-radius: 100px;
  border: 2px solid var(--blue, #4797FF);
  background: rgba(71, 151, 255, 0.01);
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s ease;
}

.cst-btn:hover {
  color: #fff;
  background: #4797FF;
}

.cst-btn-svg {
  position: absolute;
  right: 0;
  top: 0;
}

.cst-btn-text {
  margin-right: 65px;
  margin-left: 20px;
}

.title-h1 {
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ourservice {
  margin-top: 100px;

}

.ourservice .title-h1 {
  margin-bottom: 50px;
}

.service-img {
  border-radius: 34px;
}

.service-card {
  border-radius: 34px;
}

.ourservice-title {
  color: var(--black, #1D2023);
  text-align: center;
  font-family: 'Winston', sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  z-index: 3;
  position: relative;
  padding-top: 35px;
  margin-bottom: -60px;
}

.about {
  margin-top: 150px;
  background: rgb(248, 248, 248);
}

.about .title {
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 60px */
}

.about .text {
  color: var(--black, #1D2023);
  font-family: 'Avrile Serif', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.left-block-about {
  gap: 40px;
}

.about-card .big-text {
  color: var(--blue, #4797FF);
  font-family: 'Winston', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 36px */
  margin-bottom: 10px;
}

.about-card .big-text span {
  font-size: 50px;
}

.about-card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 34px;
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
}


.about-card .small-text {
  color: var(--black, #1D2023);
  font-family: "Averta Demo PE Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.small-text span {
  visibility: hidden;
}

.team {
  margin-top: 140px;
  padding-bottom: 20px;
}

.team .title-h1 {
  margin-bottom: 70px;
}

.team-card {
  margin-bottom: 5px;
  border-radius: 34px;
  background: var(--white, #FFF);
  height: 400px;

  /* ds */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  
}

.card-title {
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
}

.card-info {
  color: var(--black, #1D2023);
  font-family: "Averta Demo PE Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.card-info span {
  visibility: hidden;
}

.card-stazh {
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 19.2px */
}

.card-stazh span {
  font-weight: 500;
}

.card-btn {
  border-radius: 24px;
  border: 1px solid var(--blue, #4797FF);
  background: var(--blue, #4797FF);
  color: var(--white, #FFF) !important;
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 0.3s ease;
}

.card-btn:hover {
  background-color: #0b6be9;
}

.contacts {
  margin-top: 100px;
}

.contacts .row.two {
  gap: 45px;
}

.contact-card {
  border-radius: 34px;
  background: #97A6BB;
  width: 48%;
}

.contact-card.left {
  padding: 40px 40px 0px 40px;
  background: url("../assets/img/contact1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-card.right {
  background: url("../assets/img/contact2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-title {
  color: #FFF;
  font-family: 'Winston', sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 45.6px */
  margin-bottom: 40px;
}

.form-control {
  border-radius: 14px;
  background: var(--white, #FFF);
  color: var(--black, #1D2023);
  font-family: "Averta Demo PE Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px;
}

.form-control::placeholder {
  color: #D1D1D1;
}

label {
  color: var(--white, #FFF);
  font-family: "Averta Demo PE Regular";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 5px;
}

.submit-btn {
  border-radius: 14px;
  background: var(--yellow, #FFCE22);
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: #ba9203;
}

.sogl {
  color: var(--white, #FFF);
  text-align: center;
  font-family: "Averta Demo PE Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 70%;
}

.first-col {
  z-index: 2;
}

.second-col {
  z-index: 0;
}

.contact-card.right {
  padding: 70px 44px;
}

.doc-title {
  color: #FFF;
  font-family: 'Winston', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 36px */
}

.doc-btn {
  border-radius: 14px;
  background: #EF2434;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 100px;
  color: var(--white, #FFF) !important;
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  margin-top: 56px;
  transition: background-color 0.3s ease;
  box-shadow: none !important;
  border: none !important;
}

.doc-btn:hover {
  background-color: #b5000f;
}

.doc-img {
  position: absolute;
  top: -60px;
  right: -125px;
}

.reasons {
  margin-top: 100px;
  border-radius: 34px;
  background: var(--lite-blue, #EFF9FF);
  padding: 40px 25px 20px 25px;
}



.reasons-title {
  color: var(--black, #1D2023);
  text-align: center;
  font-family: 'Winston', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 70px */
  margin-bottom: 50px;
}

.reasons-card {
  padding: 20px;
  border-radius: 14px;
  background: #FFF;
  width: 49%;
}

.reason-title {
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.reason-description {
  color: var(--black, #1D2023);
  font-family: 'Avrile Serif', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
}

.reason-img {
  top: 20px !important;
  right: 20px !important;
}

.video {
  margin-top: 120px;
}

.video-title {
  color: #000;
  text-align: center;
  font-family: 'Winston', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 50px;
}

.video-youtube {
  border-radius: 34px;
}

.sales {
  margin-top: 150px;
  background: rgb(248, 248, 248);
}

.sales .title {
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 63px;
  letter-spacing: 0%;
  margin-bottom: 50px;
}

.sales .row {
  gap: 20px;
}

.sales-card {
  padding: 20px;
  border-radius: 24px;
  background: var(--white, #FFF);
  /* ds */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.sales-card-title {
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
}

.sales-card-title span {
  visibility: collapse;
}

.crossed-price {
  color: rgb(166, 166, 166);
  font-family: 'Winston', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-decoration-line: line-through;
}

.big-price {
  color: rgb(239, 36, 52);
  font-family: 'Winston', sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  margin-top: 8px;
}

.date-title {
  color: rgb(209, 209, 209);
  font-family: 'Winston', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
}

.date-time {
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.sep {
  margin: 0 5px;
}

@keyframes timerAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.sep-1 {
  display: none !important;
  visibility: none !important;
}

.date-time.day {
  color: rgb(209, 209, 209);
  font-family: 'Winston', sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  font-size: 10px;
}

.date-time span {
  visibility: none;
}

.date-row {
  justify-content: space-between;
}

.sales-btn-more {
  border-radius: 14px;
  background: rgb(248, 248, 248);
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  padding: 9px 39px;
  transition: all 0.3s ease; 
}

.sales-btn-more:hover {
  color: #fff;
  background-color: #EF2434;
}

.sales-btn-buy {
  box-sizing: border-box;
  border: 1px solid rgb(245, 37, 54);
  border-radius: 14px;
  background: rgb(239, 36, 52);
  color: rgb(255, 255, 255) !important;
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  padding: 9px 39px;
  transition: all 0.3s ease; 
}

.sales-btn-buy:hover {
  background-color: #b5000f;
  border: 1px solid #b5000f;
}

.location {
  margin-top: 180px;
  margin-bottom: 120px;
}

.location-title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location-card {
  padding: 10px 10px 10px 30px;
  background: var(--lite-blue, #EFF9FF);
  border-radius: 10px;
}

.location-title {
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
}

.location-subtitle {
  cursor: pointer;
  color: rgb(29, 32, 35);
  font-family: 'Averta Demo PE Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}

.line {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: rgb(71, 151, 255);
  margin-top: 25px;
}

.option-row {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}

.option {
  border-radius: 23px;
  /* blue */
  background: rgb(71, 151, 255);
  padding: 6px 20px 6px 20px;
  color: rgb(255, 255, 255);
  font-family: 'Averta Demo PE Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.second-row {
  gap: 12px;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-contact {
  color: var(--blue);
  font-family: 'Winston', sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px;
}

.footer-description {
  color: rgb(168, 166, 166);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
}

.rating-img {
  margin-top: 30px;
}

.footer-link {
  color: var(--black);
  font-family: 'Winston', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}

.footer-small-link {
  cursor: pointer;
  color: var(--black);
  font-family: 'Averta Demo PE Regular';
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.footer-small-link {
  display: flex;
  cursor: pointer;
  color: var(--black);
  font-family: 'Averta Demo PE Regular';
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  transition: all 0.3s ease; 
}

.footer-small-link:hover {
  border-radius: 100px;
  background: rgb(71, 151, 255);
  color: #fff;
}

.footer-row {
  gap: 80px;
}

.footer-line {
  width: 100%;
  height: 1px;
  background: var(--black);
  margin-top: 30px;
}

.footer-info {
  color: var(--black);
  font-family: 'Winston', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

@media only screen and (max-width: 768px) {
  .navbar-mobile {
    display: flex !important; 
  }

  .navbar-menu {
    display: none !important;
  }

  .navbar-first {
    display: none !important;
  }

  .sample-slider {
    display:  none !important;
  }

  .mobileSlider {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .mobileSlider .swiper-slide {
    border-radius: 10px;
    background: rgb(217, 217, 217);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px;
    background: url("../assets/img/bannerbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Winston', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
  }

  .mobileSlider-text {
    color: rgb(0, 0, 0);
    font-family: 'Winston', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
  }

  .download-app {
    margin-top: 60px;
    position: relative;
    background: rgb(248, 248, 248);
  }

  .download .title-h2 {
    font-size: 22px;
    line-height: 28px;
    width: 60%;
    margin-bottom: 120px;
    z-index: 2;
  }

  .download-img {
    display: block !important;
    position: absolute;
    right: -50px;
    bottom: 30px;
    z-index: 1;
  }

  .download-btn {
    margin-top: 20px;
    width: 100%;
  }

  .cst-btn-svg {
    position: absolute;
    right: 0;
  }

  .cst-btn-text {
    margin-right: 50px;
    margin-left: 45px;
  }

  .ourservice {
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-top: 60px;
  }

  .ourservice .title-h1 {
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 30px;
  }

  .ourservice-swiper {
    display: none !important;
  }

  .ourservicemobile-swiper {
    display: block !important;
  }
  
  .about.desktop {
    display: none !important;
  }

  .about.mobile {
    display: flex !important;
    background: rgb(248, 248, 248);
  }
  
  .about {
    margin-top: 80px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .about .title {
    font-size: 28px;
    text-align: center;
  }

  .about .text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }

  .team {
    margin-top: 90px;
  }

  .team .title-h1 {
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 40px;
  }

  .ourteam-swiper {
    display: none !important;
  }

  .ourteammobile-swiper {
    display: block !important;
  }

  .ourservice-title {
    font-size: 18px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-info {
    font-size: 16px;
    width: 80%;
  }

  .contact-card {
    width: 100%;
  }

  .form-row .col {
    width: 100%;
    flex: 1 1 100%;
  }

  .doc-img {
    position: absolute;
    top: -270px;
    right: -105px;
    z-index: 0;
    width: 429px;
    height: 380px;
  }

  .doc-title {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
  }

  .doc-btn {
    margin-top: 48px;
    width: 100%;
  }

  .row.two {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .reasons {
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-radius: 10px !important;
  }

  .reasons-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .reasons-card {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0 !important;
  }

  .reason-img {
    width: 55px;
    height: 55px;
  }

  .reason-title {
    font-size: 22px;
    width: 65%;
  }

  .reason-description {
    font-size: 17px;
    width: 90%;
  }

  .video {
    margin-top: 80px;
  }

  .video-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 30px;
  }

  .video-youtube {
    height: 200px !important;
  }

  .sales {
    margin-top: 80px;
    margin-bottom: 20px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    
  }

  .sales-card {
    margin-left: 1px !important;
    margin-right: 1px !important;
    padding: 30px;
  }

  .sales .title {
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 20px;
  }

  .ourteammobile-swiper .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, -10px);
    right: auto;
    z-index: 3;
  }

  .ourteammobile-swiper .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, -10px);
    left: auto;
    z-index: 3;
  }


  .sales-swiper .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, -10px);
    right: auto;
    z-index: 3;
  }

  .sales-swiper .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, -10px);
    left: auto;
    z-index: 3;
  }

  .desktop-sales {
    display: none !important;
  }

  .sales-swiper {
    display: block !important;
    padding-bottom: 15px;
    position: relative;
  }

  .sale-price {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .big-price {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .team-card {
    height: auto;
  }

  .date-title {
    text-align: center;
  }
  
  .location {
    margin-top: 80px;
  }

  .location-title-row {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
  }

  .option-row {
    display: none !important;
  }

  .option-row-mobile {
    display: flex !important;
    flex-direction: column !important;
    gap: 16px;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .location-subtitle {
    width: 80%;
    margin-bottom: 20px;
  }

  .footer-container {
    display: none !important;
  }

  .footer.desktop {
    display: none !important;
  }

  .footer-line.desktop {
    display: none !important;
  }

  .footer-mobile {
    display: block !important;
  }

  .footer-info {
    font-size: 14px;
  }

  .contact-card.left {
    padding: 20px;
  }

  .contact-title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  label {
    font-size: 18px;
    margin-bottom: 7px;
    line-height: 22px;
  }

  .contact-card.left, .contact-card.right {
    border-radius: 10px !important;
  }

  .contact-card.left {
    background: url("../assets/img/contact1mob.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contact-card.right {
    background: url("../assets/img/contact2mob.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .menu-item {
    color: #000 !important;
    font-size: 24px;
  }

  .swiper-button-prev, .swiper-button-next {
    width: 40px;
    height: 40px;
    
  }
}
