
@font-face {
  font-family: 'Roboto Slab';
  src: url('../assets/fonts/Roboto/RobotoSlab-Regular.woff2') format('woff2'),
      url('../assets/fonts/Roboto/RobotoSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Winston';
  src: url('../assets/fonts/Winston/Winston-Bold.woff2') format('woff2'),
      url('../assets/fonts/Winston/Winston-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Winston';
  src: url('../assets/fonts/Winston/Winston-BoldItalic.woff2') format('woff2'),
      url('../assets/fonts/Winston/Winston-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Winston';
  src: url('../assets/fonts/Winston/Winston-Medium.woff2') format('woff2'),
      url('../assets/fonts/Winston/Winston-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Winston';
  src: url('Winston-MediumItalic.woff2') format('woff2'),
      url('Winston-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Winston';
  src: url('../assets/fonts/Winston/Winston-Regular.woff2') format('woff2'),
      url('../assets/fonts/Winston/Winston-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Winston';
  src: url('../assets/fonts/Winston/Winston-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/Winston/Winston-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avrile Serif';
  src: url('../assets/fonts/Avrile/AvrileSerif-Bold.woff2') format('woff2'),
      url('../assets/fonts/Avrile/AvrileSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avrile Serif';
  src: url('../assets/fonts/Avrile/AvrileSerif-ExtraBold.woff2') format('woff2'),
      url('../assets/fonts/Avrile/AvrileSerif-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avrile Serif';
  src: url('../assets/fonts/Avrile/AvrileSerif-Medium.woff2') format('woff2'),
      url('../assets/fonts/Avrile/AvrileSerif-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avrile Serif';
  src: url('../assets/fonts/Avrile/AvrileSerif-Regular.woff2') format('woff2'),
      url('../assets/fonts/Avrile/AvrileSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avrile Serif';
  src: url('../assets/fonts/Avrile/AvrileSerif-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/Avrile/AvrileSerif-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('../assets/fonts/Averta/AvertaDemoPE-ExtraBold.woff2') format('woff2'),
      url('../assets/fonts/Averta/AvertaDemoPE-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Averta Demo PE Cutted Demo';
  src: url('../assets/fonts/Averta/AvertaDemoPECuttedDemo-Regular.woff2') format('woff2'),
      url('../assets/fonts/Averta/AvertaDemoPECuttedDemo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Taylor Sans';
  src: url('../assets/fonts/Taylor/TaylorSans.woff2') format('woff2'),
      url('../assets/fonts/Taylor/TaylorSans.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}




:root {
  --black: #1D2023;
  --blue: #4797FF;
  --green: #26D09B;
  --yellow: #FFD747;
  --white: #FFF;

}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: rgb(255, 255, 255);
}

.navbar-street {
  color: var(--black);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
}

.navbar-schedule {
  color: #B0B0B0;
  font-family: 'Winston', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */
}

.contact {
  color: var(--black, #1D2023);
  font-family: "Averta Demo PE Cutted Demo";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar-menu {
  margin-bottom: 50px;
}

.navbar-menu .container {
  padding: 14px 34px;
  border-radius: 34px;
  background: #F5F5F9;
  justify-content: space-between;

  /* ds */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

}

.menu-left {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-right: 10px;
}

.menu-item {
  text-decoration: none;
  color: #B3B3B3;
  font-family: 'Winston', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 5px;
  transition: all 0.3s ease;
}

.menu-item svg {
  transition: all 0.3s ease;
}

.menu-item:hover {
  color: var(--blue);
}

.menu-item.active {
  color: var(--blue);
}

.menu-item.active svg path {
  fill: var(--blue) !important;
}

.menu-item:hover svg path {
  fill: var(--blue);
}

.menu-item svg .donotfill svg path {
  fill: none !important;
}

.menu-item {
  cursor: pointer;
}

.input-container {
  display: none;
  
}

.white-input {
  width: 180px;
  padding: 13px;
  border-radius: 24px;
  margin-right: 5px;
  font-family: 'Winston', sans-serif;
}


.menu-btn {
  padding: 15px 22px;
  border-radius: 24px;
  background: #EF2434;
  align-items: center;
  justify-content: center;
  color: var(--white, #FFF) !important;
  text-align: center;
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: background-color 0.3s ease;
}

.menu-btn:hover {
  background: #b5000f;
}

.sample-slider{
  width: 100%;
}
.sample-slider img{
  width: 100%;
}

.sample-slider .swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 160px);
  left: auto;
}

.sample-slider .swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 160px);
  right: auto;
}

.download {
  margin-top: 10px;
  border-radius: 34px;
  /* grg */
  background: #F8F8F8;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.download-app {
  position: relative;
  background: #F8F8F8;
  border-radius: 34px;
  margin-top: 60px;
}



.download-left {
  padding-left: 30px;
}

.download-img {
  position: absolute;
  top: -55px;
  right: -80px;
}

.title-h2 {
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.download .title-h2 {
  margin-bottom: 40px;
}

.banner {
  background-color: #97a6bb;
  height: 540px;
  border-radius: 34px;
  padding: 40px 80px;
}

.banner-title {
  font-size: 60px;
  font-family: 'Winston', sans-serif;
  line-height: normal;
  color: #fff;
}

.banner-line {
  height: 4px;
  width: 30%;
  background: #957605;
}

.banner-subtitle {
  font-size: 30px;
  font-family: 'Winston', sans-serif;
  line-height: normal;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.banner-subtitle span {
  font-size: 28px;
  text-transform: lowercase;
  letter-spacing: 2px;
}

.banner-btn {
  border-radius: 10px;
  background: #a28002;
  color: #fff !important;
  font-size: 22px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.banner-btn:hover {
  background: #957605;
}


.banner-img {
  height: 90%;
  width: fit-content !important;
}

.swiper-button-prev {
  background-image: url("../assets/img/prevarrow.png");
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-button-next {
  background-image: url("../assets/img/nextarrow.png");
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat
}

.swiper-button-next::after, .swiper-button-prev::after {
  content: "";
}

.cst-btn {
  border-radius: 100px;
  border: 2px solid var(--blue, #4797FF);
  background: rgba(71, 151, 255, 0.01);
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s ease;
}

.cst-btn:hover {
  color: #fff;
  background: #4797FF;
}

.cst-btn-svg {
  position: absolute;
  right: 0;
  top: 0;
}

.cst-btn-text {
  margin-right: 65px;
  margin-left: 20px;
}

.title-h1 {
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ourservice {
  margin-top: 100px;

}

.ourservicemobile-swiper .swipe-slide {
  height: 350px;
}

.ourservice .title-h1 {
  margin-bottom: 50px;
}

.service-img {
  border-radius: 34px;
  width: 100%;
  height: 100%;
}

.service-card {
  border-radius: 34px;
}

.ourservice-title {
  color: var(--black, #1D2023);
  text-align: center;
  font-family: 'Winston';
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  z-index: 3;
  position: relative;
  padding-top: 35px;
  margin-bottom: -60px;
}

.about {
  margin-top: 150px;
  background: #F8F8F8;
  padding: 60px 80px;
}

.about .title {
  color: var(--black, #1D2023);
  font-family: 'Winston';
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 60px */
}

.about .text {
  color: var(--black, #1D2023);
  font-family: 'Avrile Serif';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}


.left-block-about {
  gap: 40px;
}

.about-card .big-text {
  color: var(--blue, #4797FF);
  font-family: 'Winston';
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 36px */
  margin-bottom: 10px;
}

.about-card .big-text span {
  font-size: 50px;
}

.about-card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 34px;
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
}


.about-card .small-text {
  color: var(--black, #1D2023);
  font-family: "Averta Demo PE Cutted Demo";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.small-text span {
  visibility: hidden;
}

.team {
  margin-top: 140px;
  padding-bottom: 20px;
}

.team .title-h1 {
  margin-bottom: 60px;
}

.team-card {
  margin-bottom: 5px;
  border-radius: 34px;
  background: var(--white, #FFF);
  height: 390px;

  /* ds */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-width: 0 !important;
}


.card-doctor {
  height: 365px !important;
}

.team-card .card-btn {
  margin-bottom: auto;
  margin-top: 14px;
}

.card-img-top {
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
}

.card-title {
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
  text-decoration: none;
}

.card-info {
  color: var(--black, #1D2023);
  font-family: "Averta Demo PE Cutted Demo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.card-info span {
  visibility: hidden;
}

.hidden {
  visibility: hidden !important;
}

.card-stazh {
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 19.2px */
}

.card-stazh span {
  font-weight: 500;
}

.card-btn {
  border-radius: 24px;
  border: 1px solid var(--blue, #4797FF);
  background: var(--blue, #4797FF);
  color: var(--white, #FFF) !important;
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 0.3s ease;
}

.card-btn:hover {
  background-color: #0b6be9;
}

.contacts {
  margin-top: 100px;
}

.contacts.doctors {
  margin-bottom: 75px;
}

.contacts .row.two {
  gap: 45px;
}

.contact-card {
  border-radius: 34px;
  background: #97A6BB;
  width: 48%;
}

.contact-card.left {
  padding: 40px 40px 0px 40px;
  background: url("../assets/img/contact1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-card.right {
  background: url("../assets/img/contact2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-title {
  color: #FFF;
  font-family: 'Winston', sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 45.6px */
  margin-bottom: 40px;
}

.form-control {
  border-radius: 14px;
  background: var(--white, #FFF);
  color: var(--black, #1D2023);
  font-family: "Averta Demo PE Cutted Demo";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px;
}

.form-control::placeholder {
  color: #D1D1D1;
}

label {
  color: var(--white, #FFF);
  font-family: "Averta Demo PE Cutted Demo";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 5px;
}

.submit-btn {
  border-radius: 14px;
  background: var(--yellow, #FFCE22);
  color: var(--black, #1D2023);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: #ba9203;
}

.sogl {
  color: var(--white, #FFF);
  text-align: center;
  font-family: "Averta Demo PE Cutted Demo";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 70%;
}

.first-col {
  z-index: 2;
}

.second-col {
  z-index: 0;
}

.contact-card.right {
  padding: 70px 44px;
}

.doc-title {
  color: #FFF;
  font-family: 'Winston', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 36px */
}

.doc-btn {
  border-radius: 14px;
  background: #EF2434;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 100px;
  color: var(--white, #FFF) !important;
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  margin-top: 56px;
  transition: background-color 0.3s ease;
  box-shadow: none !important;
  border: none !important;
}

.doc-btn:hover {
  background-color: #b5000f;
}

.doc-img {
  position: absolute;
  top: -60px;
  right: -125px;
}

.reasons {
  margin-top: 100px;
  border-radius: 34px;
  background: var(--lite-blue, #EFF9FF);
  padding: 40px 25px 20px 25px;
}



.reasons-title {
  color: var(--black, #1D2023);
  text-align: center;
  font-family: 'Winston', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 70px */
  margin-bottom: 50px;
}

.reasons-card {
  padding: 20px;
  border-radius: 14px;
  background: #FFF;
  width: 49%;
}

.reason-title {
  color: var(--black, #1D2023);
  font-family: 'Winston';
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.reason-description {
  color: var(--black, #1D2023);
  font-family: 'Avrile Serif';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
}

.reason-img {
  top: 20px !important;
  right: 20px !important;
  width: 120px;
  height: 120px;
}

.video {
  margin-top: 120px;
}

.video-title {
  color: #000;
  text-align: center;
  font-family: 'Winston';
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 50px;
}

.video-youtube {
  border-radius: 34px;
}

.sales {
  margin-top: 120px;
  background: rgb(248, 248, 248);
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.sales .title {
  color: rgb(29, 32, 35);
  font-family: 'Winston';
  font-size: 50px;
  font-weight: 500;
  line-height: 63px;
  letter-spacing: 0%;
  margin-bottom: 50px;
}

.sales .row {
  gap: 20px;
}

.sales-card {
  padding: 20px;
  border-radius: 24px;
  background: var(--white, #FFF);
  /* ds */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.sales-card-title {
  color: rgb(29, 32, 35);
  font-family: 'Winston';
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
}

.sales-card-title span {
  visibility: collapse;
}

.crossed-price {
  color: rgb(166, 166, 166);
  font-family: 'Winston';
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-decoration-line: line-through;
}

.big-price {
  color: rgb(239, 36, 52);
  font-family: 'Winston';
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  margin-top: 8px;
}

.date-title {
  color: rgb(209, 209, 209);
  font-family: 'Winston', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
}

.date-time {
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.sep {
  margin: 0 5px;
}

@keyframes timerAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.sep-1 {
  display: none !important;
  visibility: none !important;
}

.date-time.day {
  color: rgb(209, 209, 209);
  font-family: 'Winston', sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  font-size: 10px;
}

.date-time span {
  visibility: none;
}

.date-row {
  justify-content: space-between;
}

.sales-btn-more {
  border-radius: 14px;
  background: rgb(248, 248, 248);
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  padding: 9px 39px;
  transition: all 0.3s ease; 
}

.sales-btn-more:hover {
  color: #fff;
  background-color: #EF2434;
}

.sales-btn-buy {
  box-sizing: border-box;
  border: 1px solid rgb(245, 37, 54);
  border-radius: 14px;
  background: rgb(239, 36, 52);
  color: rgb(255, 255, 255) !important;
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  padding: 9px 39px;
  transition: all 0.3s ease; 
}

.sales-btn-buy:hover {
  background-color: #b5000f;
  border: 1px solid #b5000f;
}

.location {
  margin-top: 180px;
  margin-bottom: 120px;
}

.location-title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location-card {
  padding: 10px 10px 10px 30px;
  background: var(--lite-blue, #EFF9FF);
  border-radius: 10px;
}

.location-title {
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
}

.location-subtitle {
  cursor: pointer;
  color: rgb(29, 32, 35);
  font-family: 'Averta Demo PE Cutted Demo';
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}

.line {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: rgb(71, 151, 255);
  margin-top: 25px;
}

.option-row {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}

.option {
  border-radius: 23px;
  /* blue */
  background: rgb(71, 151, 255);
  padding: 6px 20px 6px 20px;
  color: rgb(255, 255, 255);
  font-family: 'Averta Demo PE Cutted Demo';
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.second-row {
  gap: 12px;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-contact {
  color: var(--blue);
  font-family: 'Winston', sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px;
}

.footer-description {
  color: rgb(168, 166, 166);
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
}

.rating-img {
  margin-top: 30px;
}

.footer-link {
  color: var(--black);
  font-family: 'Winston', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}

.footer-small-link {
  cursor: pointer;
  color: var(--black);
  font-family: 'Averta Demo PE Cutted Demo';
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.footer-small-link {
  display: flex;
  cursor: pointer;
  color: var(--black);
  font-family: 'Averta Demo PE Cutted Demo';
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  transition: all 0.3s ease; 
}

.footer-small-link:hover {
  border-radius: 100px;
  background: rgb(71, 151, 255);
  color: #fff;
}

.footer-row {
  gap: 80px;
}

.footer-line {
  width: 100%;
  height: 1px;
  background: var(--black);
  margin-top: 30px;
}

.footer-info {
  color: var(--black);
  font-family: 'Winston', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.footer-info a {
  color: var(--black);
  transition: all 0.3s ease;
}

.footer-info a:hover {
  color: #0b6be9;
}

.service-card.first {
  background: url("../assets/img/service1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 250px;
}

.service-card.second {
  background: url("../assets/img/service2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 250px;
}

.service-card.third {
  background: url("../assets/img/service3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 250px;
}

.service-card.fourth {
  background: url("../assets/img/service4.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 250px;
}

.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
  content: var(--bs-breadcrumb-divider, '\\');
}

.breadcrumb-item {
  text-decoration: none;
  color: rgb(29, 32, 35);
  font-family: 'Averta Demo PE Cutted Demo';
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.breadcrumb-item a {
  text-decoration: none;
  color: rgb(29, 32, 35)
}

.breadcrumb-item.active {
  color: rgb(172, 169, 169);
}

.team.doctors {
  margin-top: 35px;
}

.team.doctors .title-h1 {
  margin-bottom: 50px;
}

.team-row {
  gap: 20px;
}

.sales-container {
  border-radius: 34px;
  /* grg */
  background: linear-gradient(180.00deg, rgb(250, 250, 250),rgb(244, 244, 244) 100%);
  padding: 30px;
  margin-bottom: 20px;
}

.sales-title {
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 29px;
  font-weight: 500;
  line-height: 120%;
}

.sales-description {
  color: rgb(29, 32, 35);
  font-family: 'Avrile Serif';
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

.date-title.big {
  color: rgb(111, 113, 115);
  font-family: 'Winston', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.date.sales-block .date-time {
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  border: 1px solid rgb(38, 208, 155);
  border-radius: 4px;
  background: rgba(217, 217, 217, 0.01);
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date.sales-block .date-time.day {
  color: rgb(111, 113, 115);
  margin-top: 8px;
}

.sales-block-btn {
  box-sizing: border-box;
  /* blue */
  border: 1px solid rgb(71, 151, 255);
  border-radius: 100px;
  /* blue */
  background: rgb(71, 151, 255);
  color: rgb(255, 255, 255) !important;
  font-family: 'Winston', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  padding: 9px;
  transition: all 0.3s ease;
}

.sales-block-btn:hover {
  background-color: #0b6be9;
}

.download-banner {
  margin-top: 60px;
  margin-bottom: 60px;
}

.download-btn-store {
  width: 295px;
  height: 96px;
  cursor: pointer;
}

.download-banner-container {
  margin-bottom: 120px;
}

.aboutdoctor {
  margin-top: 50px;
}

.aboutdoctor-info {
  margin-top: 35px;
  margin-bottom: 70px;
}

.aboutdoctor-text-row {
  gap: 35px;
  margin-bottom: 40px;
}

.aboutdoctor-text {
  color: rgb(29, 32, 35);
  font-family: 'Averta Demo PE Cutted Demo';
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
}

.aboutdoctor .right-block {
  background: url("../assets/img/makarovpavel.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 34px;
  padding-left: 0 !important;
  padding-right: 0 !important; 
}

.aboutdoctor-details {
  border-radius: 34px;
  /* ds */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  /* white */
  background: rgb(255, 255, 255);
  width: 100%;
  height: 130px;
}

.details-title {
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 33px;
  margin-bottom: 14px;
}

.details-p {
  color: rgb(71, 151, 255);
  font-family: 'Averta Demo PE Cutted Demo';
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

.roadmap {
  margin-top: 120px;
}

.roadmap-row {
  margin-top: 18px;
  gap: 20px;
}

.roadmap-year {
  color: rgb(29, 32, 35);
  font-family: 'Winston', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 14px;
}

.roadmap-info {
  color: rgb(29, 32, 35);
  font-family: 'Averta Demo PE Cutted Demo';
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

.diploms {
  margin-top: 120px;
}

.diploms .title-h1 {
  margin-bottom: 50px;
}

.swiper-controllers {
  display: flex;
  position: relative;
  top: -90px;
  justify-content: flex-end;
  z-index: 999;
  gap: 20px;
}

.diplomSwiper .swiper-controllers .swiper-button-prev {
  display: block !important;
  position: static;
  background-image: url("../assets/img/swiper-prev.png");
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

.diplomSwiper .swiper-controllers .swiper-button-next {
  display: block !important;
  position: static;
  background-image: url("../assets/img/swiper-next.png");
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

.contacts.certificate {
  margin-bottom: 120px;
}

.contacts.oursales {
  margin-bottom: 120px;
}

.team.oursales {
  margin-top: 50px;
}

.team.work {
  margin-top: 25px;
}

.download-banner-card {
  border-radius: 34px;
  background: linear-gradient(135.00deg, rgb(151, 166, 187) 0%,rgb(151, 166, 187) 100%);
  padding-top: 45px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 0px;
  margin-bottom: 66px;
}

.download-card-title {
  color: rgb(255, 255, 255);
  font-family: 'Roboto Slab';
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
}

.download-card-p {
  color: rgb(255, 255, 255);
  font-family: 'Roboto Slab';
  font-size: 21px;
  font-weight: 400;
  line-height: 110%;
}

.download-card-info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.download-icon {
  height: 34px;
  width: 34px;
}

.downloadimage {
  width: 330px;
  height: 476px;
}

.roadmap-bullet {
  position: relative;
  bottom: 45px;
}

.roadmap-bullet-mob {
  position: relative;
  right: 24px;
}

.work-card-title {
  color: rgb(29, 32, 35);
  font-family: 'Winston';
  font-size: 26px;
  font-weight: 500;
  line-height: 33px;
  margin-bottom: 50px;
  width: 50%;
}

.work-card-info {
  margin-left: 20px;
}

.work-problem {
  color: rgb(29, 32, 35);
  font-family: 'Winston';
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
}

.work-p {
  color: rgb(29, 32, 35);
  font-family: 'Averta Demo PE Cutted Demo';
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

.work-solution {
  margin-top: 40px;
  border-radius: 14px;
  background: rgb(255, 255, 255);
  padding: 20px;
}

.work-solution-title {
  color: rgb(71, 151, 255);
  font-family: 'Winston';
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}

.work-solution-p {
  color: rgb(29, 32, 35);
  font-family: 'Averta Demo PE Cutted Demo';
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

.work-doctor {
  margin-top: 20px;
  margin-left: 20px;
  color: rgb(29, 32, 35);
  font-family: 'Winston';
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

.work-doctor span {
  opacity: 0.5;
}


.vacancies {
  margin-top: 35px;
  margin-bottom: 120px;
}

.vacancies .title-h1 {
  margin-bottom: 50px;
}

.vacancy-block {
  border-radius: 34px;
  /* grg */
  background: linear-gradient(180.00deg, rgb(250, 250, 250),rgb(244, 244, 244) 100%);
  padding: 30px;
  margin-bottom: 50px;
}

.vacancy-title {
  color: rgb(0, 0, 0);
  font-family: 'Winston';
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
}

.vacancyBody {
  margin-top: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vacancyList {
  color: rgb(0, 0, 0);
  font-family: 'Winston';
  font-size: 24px;
  font-weight: 500;
}

.vacancyText {
  color: rgb(0, 0, 0);
  font-family: 'Averta Demo PE Cutted Demo';
  font-size: 22px;
  font-weight: 400;
}

.document-block {
  color: rgb(29, 32, 35);
  font-family: 'Winston';
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.document-block:hover {
  color: rgb(71, 151, 255);
}

.document-line {
  margin-top: 30px;
  margin-bottom: 30px;
  background: rgb(231, 231, 231);
  height: 1px;
}

#policyModal .modal-content {
  border-radius: 34px;
  background: rgb(255, 255, 255);
  padding: 40px;
  
}

#policyModal .modal-header .btn-close {
  position: absolute;
  top: 30px;
  right: 30px;
}

#policyModal .modal-title {
  color: rgb(29, 32, 35);
  font-family: 'Winston';
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
}

#policyModal .modal-xl {
  --bs-modal-width: 1030px;
}

#policyModal .modal-p {
  color: rgb(0, 0, 0);
  font-family: 'Taylor Sans';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.location-card.contact {
  border-radius: 34px;
  /* grg */
  background: linear-gradient(180.00deg, rgb(250, 250, 250),rgb(244, 244, 244) 100%);
  margin-bottom: 20px !important;
}

.location-desktop {
  margin-bottom: 100px;
}

.location-desktop .title-h1 {
  margin-bottom: 50px;
}

.line.contact {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-p {
  color: rgb(29, 32, 35);
  font-family: 'Averta Demo PE Cutted Demo';
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.cst-btn.contact {
  margin-top: 52px;
}

.aboutclinic {
  margin-bottom: 120px;
}

.aboutclinic .title-h1 {
  margin-bottom: 50px;
}

.aboutclinic-text {
  color: rgb(29, 32, 35);
  font-family: 'Avrile Serif';
  font-size: 22px;
  font-weight: 400;
  line-height: 140%;
}

.aboutclinic-info {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.clinic-img {
  width: 100px;
  height: 100px;
  margin-right: 40px;
}

.fixed-img {
  max-width: 100%;
  height: auto;
}

.rates-p {
  color: rgb(29, 32, 35);
  font-family: 'Avrile Serif';
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.rates-block {
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 34px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.star-row {
  gap: 5px;
}

.rates-block-p {
  color: rgb(29, 32, 35);
  font-family: 'Avrile Serif';
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.rates-block-author {
  color: rgb(29, 32, 35);
  font-family: 'Winston';
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.rates-block-date {
  color: rgb(29, 32, 35);
  font-family: 'Avrile Serif';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.swiper-navigations {
  margin-top: 60px;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.swiper-pagination {
  margin-bottom: 10px;
}

.swiper-button-prev, .swiper-button-next {
  position: relative;
  z-index: 99;
}

.slide-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}

.rates-btn {
  padding: 15px 60px 15px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  /* blue */
  background: rgb(71, 151, 255);
  color: rgb(255, 255, 255) !important;
  font-family: 'Winston';
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  transition: all 0.3s ease;
}

.rates-btn:hover {
  background-color: #0b6be9;
}

.rates-footer {
  margin-top: 60px;
}

.gallery {
  margin-top: 120px;
}

.gallery .gallerySwiper .swiper-navigations {
  justify-content: flex-end;
  gap: 20px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: auto;
  display: flex;
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .navbar-mobile {
    display: flex !important; 
  }

  .navbar-menu {
    display: none !important;
  }

  .navbar-first {
    display: none !important;
  }

  .sample-slider {
    display:  none !important;
  }

  .mobileSlider {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .mobileSlider .swiper-slide {
    border-radius: 10px;
    background: rgb(217, 217, 217);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px;
    background: url("../assets/img/bannerbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Winston', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
  }

  .mobileSlider-text {
    color: rgb(0, 0, 0);
    font-family: 'Winston', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
  }

  .download-app {
    margin-top: 60px;
    position: relative;
    background: #F8F8F8;
    border-radius: 34px;
    padding: 60px 90px;
  }

  .download .title-h2 {
    font-size: 22px;
    line-height: 28px;
    width: 60%;
    margin-bottom: 120px;
    z-index: 2;
  }

  .download-img {
    display: block !important;
    position: absolute;
    right: -50px;
    bottom: 30px;
    z-index: 1;
  }

  .download-left {
    padding-left: 30px;
  }


  .download-btn {
    margin-top: 20px;
    width: 100%;
  }

  .cst-btn-svg {
    position: absolute;
    right: -1px;
  }

  .cst-btn-text {
    margin-right: 50px;
    margin-left: 45px;
  }

  .ourservice {
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-top: 60px;
  }

  .ourservice .title-h1 {
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 30px;
  }

  .ourservice-swiper {
    display: none !important;
  }

  .ourservicemobile-swiper {
    display: block !important;
  }
  
  .about.desktop {
    display: none !important;
  }

  .about.mobile {
    display: flex !important;
    background: #F8F8F8;
    padding: 30px 10px !important;
  }
  
  .about {
    margin-top: 80px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .about .title {
    font-size: 28px;
    text-align: center;
  }

  .about .text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }

  .team {
    margin-top: 90px;
  }

  .team .title-h1 {
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 40px;
  }

  .ourteam-swiper {
    display: none !important;
  }

  .ourteammobile-swiper {
    display: block !important;
  }

  .ourservice-title {
    font-size: 18px;
    margin-top: -20px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-info {
    font-size: 16px;
    width: 80%;
  }

  .contact-card {
    width: 100%;
  }

  .form-row .col {
    width: 100%;
    flex: 1 1 100%;
  }

  .doc-img {
    position: absolute;
    top: -270px;
    right: -105px;
    z-index: 0;
    width: 429px;
    height: 380px;
  }

  .doc-title {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
  }

  .doc-btn {
    margin-top: 48px;
    width: 100%;
  }

  .row.two {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .reasons {
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-radius: 10px !important;
    width: auto !important;
  }

  .reasons-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .reasons-card {
    width: 95%;
    margin-bottom: 20px;
    margin-top: 0 !important;
    margin-left: 10px;
    margin-right: 10px;
  }

  .reason-img {
    width: 55px;
    height: 55px;
  }

  .reason-title {
    font-size: 22px;
    width: 60%;
  }

  .reason-description {
    font-size: 15px;
    width: 90%;
  }

  .video {
    margin-top: 80px;
  }

  .video-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 30px;
  }

  .video-youtube {
    height: 200px !important;
  }

  .sales {
    margin-top: 80px;
    margin-bottom: 20px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 30px;
    padding-top: 30px;
    
  }

  .sales-card {
    margin-left: 1px !important;
    margin-right: 1px !important;
    padding: 30px;
  }

  .sales .title {
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 20px;
  }

  .ourteammobile-swiper .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, -10px);
    right: auto;
    z-index: 3;
  }

  .ourteammobile-swiper .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, -10px);
    left: auto;
    z-index: 3;
  }


  .sales-swiper .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 0px);
    right: auto;
    z-index: 3;
  }

  .sales-swiper .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 0px);
    left: auto;
    z-index: 3;
  }

  .desktop-sales {
    display: none !important;
  }

  .sales-swiper {
    display: block !important;
    padding-bottom: 15px;
    position: relative;
  }

  .sale-price {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .big-price {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .team-card {
    height: auto;
    padding-bottom: 0px;
  }

  .date-title {
    text-align: center;
  }
  
  .location {
    margin-top: 80px;
  }

  .location-title-row {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
  }

  .option-row {
    display: none !important;
  }

  .option-row-mobile {
    display: flex !important;
    flex-direction: column !important;
    gap: 16px;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .location-subtitle {
    width: 80%;
    margin-bottom: 20px;
  }

  .footer-container {
    display: none !important;
  }

  .footer.desktop {
    display: none !important;
  }

  .footer-line.desktop {
    display: none !important;
  }

  .footer-mobile {
    display: block !important;
  }

  .footer-info {
    font-size: 14px;
  }

  .contact-card.left {
    padding: 20px;
  }

  .contact-title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  label {
    font-size: 18px;
    margin-bottom: 7px;
    line-height: 22px;
  }

  .contact-card.left, .contact-card.right {
    border-radius: 10px !important;
  }

  .contact-card.left {
    background: url("../assets/img/contact1mob.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contact-card.right {
    background: url("../assets/img/contact2mob.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .menu-item {
    color: #000 !important;
    font-size: 24px;
  }

  .swiper-button-prev, .swiper-button-next {
    width: 40px;
    height: 40px;
    
  }

  .about-card {
    margin-bottom: 10px;
  }

  .service-img {
    border-radius: 10px;
    margin-top: -20px;
  }

  .hide {
    visibility: hidden;
  }

  .download-app {
    display: none !important;
  }

  .download-app.mob {
    display: flex !important;
    padding: 0 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .download {
    padding-bottom: 0;
  }

  .download-app.mob .cst-btn {
    margin-top: -30px;
  }

  .download-app.mob .cst-btn-text {
    margin-right: 0;
    margin-left: 20px;
  }

  .download-left {
    padding-left: 10px !important;
  }

  .download-img {
    width: 280px;
    height: 190px;
    top: 25px;
    bottom: 0;
  }

  .team-row {
    flex-direction: column !important;
  }

  .team.doctors {
    margin-top: 25px;
  }

  .team.doctors .title-h1 {
    text-align: left !important;
    font-size: 30px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 40px;
  }

  .reasons.doctors {
    display: none ;
  }

  .contacts.doctors {
    display: none;
  }

  .team.oursales {
    margin-top: 30px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .team.oursales .title-h1 {
    text-align: left !important;
    margin-bottom: 30px;
  }

  .sales-container {
    padding: 15px;
    border-radius: 10px;
    --bs-gutter-x: 0rem !important;
  }

  .sales-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 16px;
  }

  .sales-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
  }

  .otchet-row {
    flex-direction: column !important;
    gap: 30px !important;
    margin-bottom: 30px;
  }

  .sales-block-btn {
    margin-bottom: 30px !important;
  }

  .contacts.oursales {
    margin-top: 60px;
  }

  .download-row {
    flex-direction: column;
  }

  .download-btn-store {
    width: 100%;
    height: 104px;
  }

  .download-banner {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .breadcrumb {
    margin-top: 20px;
  }

  .download-banner-container {
    margin-bottom: 60px;
    margin-top: 30px;
  }

  .download-banner-card {
    border-radius: 10px;
    background: rgb(151, 166, 187);
    --bs-gutter-x: 0 !important;
    padding-top: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-bottom: 50px
  }

  .download-card-title {
    font-size: 22px;
    font-weight: 400;
    line-height: 120%;
  }

  .download-card-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
  }

  .download-card-info {
    margin-top: 25px;
    gap: 26px;
  }
  
  .downloadimage {
    width: 206px;
    height: 297px;
    margin-top: 18px;
  }

  .download-btn-store {
    width: 100%;
    height: 104px;
  }

  .card-doctor.hidden {
    display: none !important;
  }

  .contacts.oursales {
    margin-bottom: 60px;
  }

  .aboutdoctor {
    display: none;
  }

  .aboutdoctor.mob {
    display: block !important;
  }

  .aboutdoctor {
    margin-top: 30px;
  }

  .aboutdoctor-info {
    margin-bottom: 30px;
  }

  .aboutdoctor-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 140%;
  }

  .aboutdoctor-text-row {
    flex-direction: column !important;
    margin-top: 25px;
    gap: 30px;
    margin-bottom: 30px;
  }

  .aboutdoctor-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
  }

  .aboutdoctor-details {
    margin-top: -100px;
    border-radius: 20px;
    height: 100px;
  }

  .details-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;      
  }

  .details-p {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
  }

  .makar {
    border-radius: 20px;
  }

  .aboutdoctor-btn {
    margin-left: 10px;
    margin-right: 10px;
    width: 95%;
  }

  .aboutdoctor-btn .cst-btn-text {
    margin-right: 50px;
    margin-left: 18px;
  }

  .aboutdoctor-roadmap.desktop {
    display: none;
  }

  .aboutdoctor-roadmap.mob {
    display: flex !important;
  }

  .aboutdoctor-roadmap {
    margin-top: 60px;
    margin-left: 5px;
  }

  .roadmap-year {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
  }

  .roadmap-info {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
  }

  .roadmap-row {
    margin-top: 0;
    margin-left: 0px;
  }

  .roadmap-row .col-12 {
    margin-bottom: 30px;
    display: flex;
    
  }

  .diploms {
    display: none ;
  }

  .diploms.mob {
    display: block !important;
  }

  .diploms .title-h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 140%;
  }

  .diplomimg {
    width: 250px;
    height: 329px;
  }

  .mobileControllers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }

  .mobileControllers .swiper-button-next {
    position: static;
    background: url("../assets/img/swiper-next.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
  }

  .mobileControllers .swiper-button-prev {
    position: static;
    background: url("../assets/img/swiper-prev.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
  }

  .aboutdoctor-info {
    padding-left: 0px;
  }

  .vacancies {
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .vacancies .title-h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 30px;
  }

  .vacancy-block {
    border-radius: 20px;
    /* grg */
    background: linear-gradient(180.00deg, rgb(250, 250, 250),rgb(244, 244, 244) 100%);
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
  }

  .vacancy-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
  }

  .vacancy-svg {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .vacancy-svg svg {
    height: 40px !important;
    width: 40px !important;
  }

  .vacancyList, .vacancyText {
    font-size: 18px;
    font-weight: 400;
  }

  .document-block {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
  }

  .document-line {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(231, 231, 231);
    height: 1px;
  }

  .location-desktop {
    display: none !important;
  }

  .location-mob {
    display: block !important;
    margin-bottom: 60px;
  }

  .location-mob .title-h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 30px;
  }

  .location-card.contact {
    border-radius: 10px;
    background: linear-gradient(180.00deg, rgb(250, 250, 250), rgb(244, 244, 244) 100%);
    margin-bottom: 20px !important;
    padding: 20px;
  }

  .option-mob {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 20px 6px 20px;
    width: 100%;
    border-radius: 10px;
    /* blue */
    background: rgb(71, 151, 255);
    color: rgb(255, 255, 255);
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
  
  .whatsapplogo {
    position: absolute;
    right: 0px;
  }

  .cst-btn.contact {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .cst-btn.contact .cst-btn-text {
    margin-left: 10px;
    margin-right: 0px;
  }

  .team.work {
    display: none;
  }

  .team.work.mob {
    display: block !important;
  }

  .team.work.mob .sales-container {
    margin-bottom: 30px;
  }

  .work-card-title {
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .cst-btn.work .cst-btn-text {
    margin-left: -5px;
    margin-right: 0px;
  }

  .work-card-images {
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
  }

  .work-card-info {
    margin-top: 20px;
    margin-left: 0;
  }

  .work-p {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
  }

  .work-solution {
    margin-top: 20px;
  }

  .work-solution-p {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
  }

  .work-doctor {
    font-size: 20px;
  }

}
