@font-face {
    font-family: 'Taylor Sans';
    src: url('TaylorSans.woff2') format('woff2'),
        url('TaylorSans.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

